@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    overflow: hidden;
}

.app {
    display: none;
}

.use_mobile {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
}

@media (max-width: 560px) {
    .use_mobile {
        display: none;
    }

    .app {
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #1c1c1c;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    header {
        background-color: #292929;
        padding: 16px 8px;
        border-radius: 16px 16px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 16px;
    }
    
    header nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    header nav a {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: 0px 8px;
        background-color: #373737;
        width: 100%;
        border-radius: 8px;
        height: 64px;
    }
    
    header nav a img {
        height: 100%;
    }
    
    main {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 85%;
        overflow: hidden;
    }
    
    main header {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 0px 0px 16px 16px;
        margin:0px 0px 16px 0px;
    }
    
    main header .user_box button{
        height: 64px;
        padding: 8px;
        background-color: #373737;
        border-radius: 8px;
    }

    main header .user_box button img {
        height: 100%;   
    }
    
    main .content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px 24px;
    }

    main .content .head-text {
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    
    main .content .habits__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 100%;
        background-color: #1c1c1c;
        position: relative;
        overflow-y: scroll;
    }
    
    main .content .habits__list::-webkit-scrollbar {
        width: 6px;               /* ширина scrollbar */
    }
    main .content .habits__list::-webkit-scrollbar-track {
        background: #1c1c1c;        /* цвет дорожки */
    }
    main .content .habits__list::-webkit-scrollbar-thumb {
        border-radius: 20px;       /* закругления плашки */
        border: 1px solid #fff;  /* padding вокруг плашки */
    }
    
    main .content .habits__list .habit {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        height: 96px;
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        margin-bottom: 8px;
    }

    .add_new_habit_form {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: end;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #00000098;
    }

    .add_new_habit_form form {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        padding: 24px;
        border-radius: 16px 16px 0px 0px;
        width: 100%;
        background-color: #1c1c1c;
        z-index: 101;
    }

    .add_new_habit_form form p {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
    }

    .add_new_habit_form form input {
        border-radius: 8px;
        padding: 8px;
        width: 100%;
        height: 48px;
        background-color: #292929;
        color: #fff;
        margin: 4px 0px 8px 0px;
    }

    .add_new_habit_form form button {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin-top: 16px;
        width: 100%;
        height: 64px;
        background-color: #59c33c;
    }

    main .content .habits__list .add_new_habit {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        height: 96px;
        width: 100%;
        background-color: transparent;
        border: 3px #59c33c solid;
        border-radius: 8px;
        margin-bottom: 8px;
        font-size: 48px;
        color: #59c33c;
    }
    
    .habit .habit__info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        padding: 8px;
    }
    
    .habit .habit__info .name {
        font-weight: 500;
        font-size: 28px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    
    .habit .habit__info .progress__info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: start;
    }
    
    .habit .habit__info .progress__info p {
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
    }
    
    .habit .habit__info .progress__info span {
        z-index: 1;
        height: 16px;
        position: relative;
        width: calc(100% - 90px);
        margin: 0px 8px 0px 8px;
        border-radius: 4px;
        background-color: #1c1c1c;
    }
    
    .habit .habit__info .progress__info span::after {
        content: '';
        border-radius: 4px;
        z-index: 2;
        background-color: #4ecb35;
        position: absolute;
        height: 100%;
        left: 0px;
        width: 80%;
    }

    .habit .done-habit img {
        width: 100%;
    }

    .logo {
        cursor: pointer;
        padding: 8px;
    }

    .logo .logo_text {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    
    .logo .logo_text .name-text{
        color: #fff;
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
    }

    .logo .logo_text .version-text{
        color: #515151;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
    }

    .habit_page {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: end;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #00000098;
    }

    .habit_page .habit_info {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 24px;
        border-radius: 16px 16px 0px 0px;
        width: 100%;
        height: 60%;
        background-color: #1c1c1c;
        z-index: 101;
    }

    .habit_page .habit_info .done-habit-btn {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin-top: 16px;
        width: 100%;
        height: 64px;
        background-color: #59c33c;
    }

    .habit_page .habit_info .habit-page-name {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .habit_page .habit_info .habit-page-start-time {
        color: #373737;
        margin-bottom: 16px;
    }

    .habit_page .habit_info .progres-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 16px;
    }

    .progresbar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 101;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: #373737;
    }

    .progresbar p {
        padding: 8px;
        line-height: 48px;
        border-radius: 8px;
        font-weight: 500;
        font-size: 48px;
        z-index: 103;
    }
    
    .progresbar::after {
        content: '';
        z-index: 102;
        width: 50%;
        height: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #59c33c;
    }
    
}

